.searc-h {
    width: 100%;
    background-color: var(--primary-color);
    padding: 10px;
    text-align: center;
    color: white !important;

    h2 {
        text-align: center;
        display: block;
        color: white !important;
    }

    .search-items {
        background-color: #508ECF;
        margin-top: 5px;
        padding: 10px;
        width: fit-content;
        border-radius: 10px;
        margin-inline: auto;

        input {
            border: none;
            padding: 5px;
            width: 150px;
            border-radius: 5px;

            &:focus-visible {
                outline: none;
            }
        }

        button {
            padding: 5px !important;
        }
    }

    .real-state-items {
        margin-top: 5px;

        ul {
            display: flex;
            gap: 10px;
            padding: 0;

            li {
                background-color: #76A9E0;
                padding: 5px;
                border-radius: 10px;

                &:hover {
                    opacity: 0.7;
                }
            }
        }
    }
}

.banner {
    .card {
        padding: 10px;
    }

    .banner-article {
        display: grid;
        grid-template-columns: 8fr 4fr;
        grid-template-rows: 1fr 1fr;
        gap: 10px;

        .first-banner {
            grid-row: span 2;
            overflow: hidden;
            padding: 0;

            .responsive {
                border-radius: 10px;
                overflow: hidden;

                .banner-part {
                    position: relative;

                    img {
                        height: 300px;
                        object-fit: cover;
                        width: 100%;
                        filter: brightness(70%);
                    }

                    .banner-items {
                        position: absolute;
                        bottom: 20px;
                        left: 10px;
                        padding: 0 30px 0 20px;
                        width: 100%;

                        span {
                            font-size: var(--font-sm);
                            text-transform: uppercase;
                        }

                        .responsive-heading {
                            font-size: var(--font-xl);
                            color: white;
                            font-weight: 600;
                        }

                        p {
                            color: white;
                        }

                        button {
                            width: 100% !important;
                            border-radius: 30px !important;
                            font-weight: 600;
                        }
                    }
                }

                .owl-prev,
                .owl-next {
                    height: 50px;
                    width: 50px;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    background: #ffffff3a !important;
                    padding: 10px;
                    border-radius: 50%;
                    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    transition: background 0.3s ease;
                    cursor: pointer;
                }

                .owl-prev:hover,
                .owl-next:hover {
                    background: #869791 !important;
                }

                .owl-prev svg,
                .owl-next svg {
                    fill: none;
                    stroke: #333;
                    stroke-width: 2;
                    transition: stroke 0.3s ease;
                }

                .owl-prev:hover svg,
                .owl-next:hover svg {
                    stroke: #fff;
                }

                /* Position arrows */
                .owl-prev {
                    left: 20px;
                }

                .owl-next {
                    right: 20px;
                }

                /* Style for dots */
                .owl-dots {
                    position: absolute;
                    bottom: 10px;
                    left: 50%;
                    transform: translateX(-50%);
                }

                .owl-dots {
                    bottom: -20px !important;
                }

                .owl-dots .owl-dot {
                    background: #8a8888 !important;
                    border: 1px solid #333;
                    margin: 20px 5px 0px 0px;
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    display: inline-block;
                    transition: background 0.3s ease;
                }

                .owl-dots .owl-dot.active {
                    background: #333 !important;
                }

            }


        }

        .side-banner {
            position: relative;
            border-radius: 10px;
            overflow: hidden;

            img {
                height: 145px;
                filter: brightness(70%);
            }

            .side-article {
                padding: 10px;
                position: absolute;
                bottom: 0;
                color: white;

                span {
                    text-transform: uppercase;
                }

                .banner-heading-side {
                    font-size: var(--font-lg);
                    font-weight: 500;
                }

                p {
                    font-size: var(--font-sm);
                    margin-bottom: 0 !important;
                }

                a {
                    font-size: var(--font-md);
                    font-weight: 600;
                    color: var(--primary-color) !important;
                    ;

                    i {
                        font-size: 10px;
                    }
                }

            }
        }
    }


    // Large devices (desktops, 992px and up)
    @media (max-width: 992px) {
        width: 100%;

    }

    // Medium devices (tablets, 768px and up)
    @media (max-width: 768px) {
        width: 100%;

        .banner-article {
            grid-template-columns: 7fr 5fr;
        }
    }

    // small devices (moibile, 576px and up)
    @media (max-width: 576px) {
        width: 100%;

        .banner-article {
            grid-template-columns: 1fr;
        }
    }
}

// services
.services {
    .services-items {
        img {
            width: 100px;
            height: 100px;
            margin-inline: auto;
        }

        .card-body {
            .service-heading {
                font-weight: 600;
            }

            p {
                font-size: var(--font-sm);
            }

            a {
                text-align: center;
                display: block;
                color: var(--primary-color) !important;
            }
        }
    }
}

// add
.add {
    background-color: var(--primary-color);
    padding: 30px;
    color: white;
    border-radius: 10px;

    span {
        font-size: var(--font-sm);
    }

    h2 {
        font-size: var(--font-xl);
    }

    p {
        font-size: var(--font-md);
    }

    .bttn {
        display: block;
        width: 100%;
        color: var(--primary-color);
    }
}

.feature {

    .feature-carousel {
        position: relative;
        padding: 20px 0;

        .owl-stage-outer {
            padding: 10px 0 !important;
        }

        .card {
            margin-inline: 0;

            img {
                height: 170px;
            }

            span {
                font-size: var(--font-sm);
            }

            p {
                font-size: var(--font-md);
            }

            .card-title {
                font-size: var(--font-lg)
            }

            .card-text {
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
            }
        }

        .owl-prev,
        .owl-next {
            height: 50px;
            width: 50px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            background: var(--owl-color) !important;
            padding: 10px;
            border-radius: 50%;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            display: flex;
            align-items: center;
            justify-content: center;
            transition: background 0.3s ease;
            cursor: pointer;
        }

        .owl-prev:hover,
        .owl-next:hover {
            background: var(--owl-hover) !important;
        }


        /* Position arrows */
        .owl-prev {
            left: -60px;
        }

        .owl-next {
            right: -60px;
        }

        .owl-dots {
            position: absolute;
            bottom: -20px !important;
            left: 50% !important;
            transform: translateX(-50%);
        }

        .owl-dots .owl-dot {
            background: var(--dots-color) !important;
            border: 1px solid #333;
            margin: 20px 5px 0px 0px;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            display: inline-block;
            transition: background 0.3s ease;
        }

        .owl-dots .owl-dot.active {
            background: var(--dots-active) !important;
        }

    }

    .btttn {
        display: block;
        margin-inline: auto;
        margin-top: 30px;
    }
}


// add2
.add-2 {
    background-color: #5854EA;
    padding: 30px;
    color: white;
    border-radius: 10px;

    button {
        width: 100%;
    }
}

.job {
    .job-carousel {
        gap: 15px;
        position: relative;
        padding: 20px 0;

        .owl-stage-outer {
            padding: 10px 0 !important;
        }

        .card {
            margin-inline: 0;

            img {
                height: 170px;
            }

            span {
                font-size: var(--font-sm);
            }

            p {
                font-size: var(--font-md);
            }

            .card-title {
                font-size: var(--font-lg)
            }

            .card-text {
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
            }
        }

        .owl-prev,
        .owl-next {
            height: 50px;
            width: 50px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            background: var(--owl-color) !important;
            padding: 10px;
            border-radius: 50%;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            display: flex;
            align-items: center;
            justify-content: center;
            transition: background 0.3s ease;
            cursor: pointer;
        }

        .owl-prev:hover,
        .owl-next:hover {
            background: var(--owl-hover) !important;
        }


        /* Position arrows */
        .owl-prev {
            left: -60px;
        }

        .owl-next {
            right: -60px;
        }

        .owl-dots {
            position: absolute;
            bottom: -20px !important;
            left: 50% !important;
            transform: translateX(-50%);
        }

        .owl-dots .owl-dot {
            background: var(--dots-color) !important;
            border: 1px solid #333;
            margin: 20px 5px 0px 0px;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            display: inline-block;
            transition: background 0.3s ease;
        }

        .owl-dots .owl-dot.active {
            background: var(--dots-active) !important;
        }

    }

    .btttn {
        display: block;
        margin-inline: auto;
        margin-top: 30px;
    }
}

.travel {
    .card {
        margin-inline: 0;

        img {
            height: 170px;
        }

        span {
            font-size: var(--font-sm);
        }

        p {
            font-size: var(--font-md);
        }

        .card-title {
            font-size: var(--font-lg)
        }

        .card-text {
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }
    }

    .btttn {
        display: block;
        margin-inline: auto;
        margin-top: 30px;
    }
}


.news {
    .news-items {
        .card {
            img {
                height: 150px !important;
            }
        }
    }
    .btttn {
        display: block;
        margin-inline: auto;
        margin-top: 30px;
    }
}

.blog {
    .blog-articles {
        display: grid;
        grid-template-columns: 6fr 4fr 4fr;
        grid-template-rows: 270px 270px;
        gap: 15px;

        .card-first {
            padding: 10px;
            grid-row: span 2;
            display: flex;
            gap: 10px;
            flex-direction: column;
            justify-content: space-between;

            img {
                height: 300px;
            }



        }

        .card-second {
            img {
                height: 130px;
            }

            .card-body {
                font-size: var(--font-sm);
                padding: 0 !important;

                .card-text {
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                }

            }
        }

        // small devices (moibile, 576px and up)
        @media (max-width: 768px) {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr;

            .card-first {
                padding: 10px;
                display: flex;
                gap: 10px;
                grid-column: 2 span;
                flex-direction: column;
                justify-content: space-between;

                img {
                    height: 300px;
                }

                .card-body {
                    padding: 0 0;

                }

            }
        }
    }

    a {
        display: block;
    }

    .card-bodyy {
        padding: 0 !important;

    }

    .btttn {
        display: block;
        margin-inline: auto;
        margin-top: 30px;
    }
}

.testimonial-carousel {
    position: relative;

    .card img {
        height: 100px !important;
        width: 100px !important;
        object-fit: cover !important;
        border-radius: 50% !important;
        margin-inline: auto !important;
    }


    .owl-prev,
    .owl-next {
        height: 50px;
        width: 50px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background: var(--owl-color) !important;
        padding: 10px;
        border-radius: 50%;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background 0.3s ease;
        cursor: pointer;
    }

    .owl-prev:hover,
    .owl-next:hover {
        background: var(--owl-hover) !important;
    }


    /* Position arrows */
    .owl-prev {
        left: -60px;
    }

    .owl-next {
        right: -60px;
    }

    .owl-dots {
        position: absolute;
        bottom: -20px !important;
        left: 50% !important;
        transform: translateX(-50%);
    }

    .owl-dots .owl-dot {
        background: var(--dots-color) !important;
        border: 1px solid #333;
        margin: 20px 5px 0px 0px;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        display: inline-block;
        transition: background 0.3s ease;
    }

    .owl-dots .owl-dot.active {
        background: var(--dots-active) !important;
    }
}

.subscribe {
    background-color: var(--primary-color);
    color: white;
    padding: 30px;

    h2 {
        font-size: 30px;
    }

    .subscribe-items {
        width: 350px;
        margin-inline: auto;
    }

    form {
        input {
            width: 400px;

            &:focus-visible {
                outline: none;
            }
        }

        .bten {
            padding: 5px 10px;
            background-color: #333;
            color: white;
            border:none;
            &:hover {
                background-color: #2b2525;
            }
        }
    }
}