header {
    width: 100%;

    .topheader {
        background-color: var(--background-color);
        font-size: 13px;
        font-family: var(--primary-fonts);
        color: white;
        flex-wrap: wrap;

        label {
            border-left: 1px solid white;
            padding-left: 5px;
        }

        select {
            background-color: transparent;
            border: none;
            color: white;

        }

.topheader-section{
        // Medium devices (tablets, 768px and up)
        @media (max-width: 576px) {
               flex-direction: column;
               align-items: flex-start;
        }
    }
    }

    .second-header {
        .logo {
            font-size: var(--font-xl);
            font-weight: 700;
            line-height: 30px;
        }

        }

        // X-Large devices (large desktops, 1200px and up)
        @media (max-width: 1200px) {
            width: 100%;
        }

        // Large devices (desktops, 992px and up)
        @media (max-width: 992px) {}

        // Medium devices (tablets, 768px and up)
        @media (max-width: 768px) {
            width: 100%;
        }

        // small devices (moibile, 576px and up)
        @media (max-width: 576px) {
            width: 100%;
        }
    }

    .third-header {
        background-color: var(--background-color);
        .right-header {
            gap: 100px;
            margin: 0;
            .top-navbar{
            ul {
                padding:0;
                display: flex;
                align-items: center;
                margin-bottom: 0;
                gap: 20px;
                
                li {
                    padding:10px;
                    color: white;
                    font-size: var(--font-lg);
                    text-wrap: none;
                    position:relative;
                   
                    .submenu {
                        position: absolute;
                        top: 100%;
                        left: 0;
                        background: var(--background-color);
                        display: none;
                        padding: 10px 0;
                        z-index:100;
                        ul{
                            padding:0;
                            display:block;
                            flex-direction:column;
                            li{
                                white-space: nowrap;
                            }
                        }
                        
                    }
                    &:hover {
                        background-color: var(--primary-color);
                        .submenu{
                            display:block;
                        }
                    }

                    a {
                        color: white;
                    }
                }
            }
        }
        .search{
            display:none !important;
        }
        .menu{
            color:white;
            display:none;
            font-size:var(--font-lg);
        }
        // Medium devices (tablets, 768px and up)
        @media (max-width: 768px) {

            .top-navbar{
                display:none;
            }
            .search{
                display:grid !important;
                input{
                    width:200px;
                }
            }
            .menu{
                display:block;
            }
        }
    }
       // Medium devices (tablets, 768px and up)
       @media (max-width: 768px) {
        padding:10px 0;
       }
 
    }

    // X-Large devices (large desktops, 1200px and up)
    @media (max-width: 1200px) {
    }

    // Large devices (desktops, 992px and up)
    @media (max-width: 992px) {

    }

      // Medium devices (tablets, 768px and up)
      @media (max-width: 768px) {

      }

  

    // small devices (moibile, 576px and up)
    @media (max-width: 576px) {
    }