header {
    background-color: white;
    padding: 10px;
    position: relative;

    .header-top {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .header-heading {
            font-size: var(--font-xl);
            font-weight: 800;
            color: #387DC3;
            z-index: 20;
        }

        .menu {
            display: none;

            @media (max-width: 768px) {
                display: block;
                // position:relative;
            }
        }

        nav {
            font-size: var(--font-md);
            font-weight: 400;
            z-index: 100;

            li {
                position: relative;
                text-transform: capitalize;
                padding: 5px 5px;
                border-radius: 20px;

                ul {
                    padding: 0 10px;
                    background-color: white;
                    position: absolute;
                    top: 100%;
                    left: 0;
                    display: flex;
                    flex-direction: column;
                    display: none;

                    li {
                        white-space: nowrap;
                    }
                }

                &:hover {
                    background-color: rgba(192, 188, 188, 0.425);
                    color: var(--primary-color);

                    ul {
                        display: flex;
                    }
                }

                &.active {
                    background-color: rgba(192, 188, 188, 0.425);
                    color: var(--primary-color);
                }

               
            }

            .close {
                display:none;
                @media (max-width: 768px) {
                    position:absolute;
                    top:0;
                    right:10px;
            }

            i {
                font-size: var(--font-sm);
            }

            @media (max-width: 768px) {
                display:none;
                position: absolute;
                padding:20px 0;
                top: 100%;
                right: 0;
                background-color: white;

                ul {
                    flex-direction: column;

                }
            }
        }

      
        @media (max-width: 768px) {
            display:none;
            position:absolute;
            top:100%;
            right:0;
            ul{
                background-color: white;
                flex-direction: column;
                li{
                    ul{
                        position:relative;
                    }
                }
            }
          }
    }
    .login {
        color: #387DC3;

        @media (max-width: 768px) {
            display: none;
        }
    }

}
}
ul {
    margin-bottom: 0 !important;
}

.text-white {
    color: white !important;
}